<web-app>
<servlet>
<servlet-name>f</servlet-name>
<servlet-class>First</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>f</servlet-name>
<url-pattern>/run</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>LogoutServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/run1</url-pattern>
</servlet-mapping>



  
<listener>
<listener-class>CountUserListener</listener-class>
</listener>
</web-app>