<web-app>
 
<servlet>
<servlet-name>ConfigServlet</servlet-name>
<servlet-class>ConfigServlet</servlet-class>


<init-param>
<param-name>username</param-name>
<param-value>system</param-value>
</init-param>

<init-param>
<param-name>password</param-name>
<param-value>oracle</param-value>
</init-param>

</servlet>


<servlet-mapping>
<servlet-name>ConfigServlet</servlet-name>
<url-pattern>/run1</url-pattern>
</servlet-mapping>

</web-app>