<web-app>
<context-param>
<param-name>param1</param-name>
<param-value>hello</param-value>
</context-param>

<servlet>
<servlet-name>one</servlet-name>
<servlet-class>FirstServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>one</servlet-name>
<url-pattern>/run</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>two</servlet-name>
<servlet-class>NextServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>two</servlet-name>
<url-pattern>/next</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>/home.html</welcome-file>
</welcome-file-list>
</web-app>