<web-app>
<servlet>
<servlet-name>MySessionListener</servlet-name>
<servlet-class>MySessionListener</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>MySessionListener</servlet-name>
<url-pattern>/run</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>MySessionServlet</servlet-name>
<servlet-class>MySessionServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>MySessionServlet</servlet-name>
<url-pattern>/hello</url-pattern>
</servlet-mapping>



  
<listener>
<listener-class>MySessionListener</listener-class>
</listener>
</web-app>