<web-app>

    <servlet-name>SendMail</servlet-name>
    <servlet-class>SendMail</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/servlet/SendMail</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
