<web-app>

<servlet>
<servlet-name>one</servlet-name>
<servlet-class>FirstServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>one</servlet-name>
<url-pattern>/servlet1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>two</servlet-name>
<servlet-class>NextServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>two</servlet-name>
<url-pattern>/servlet2</url-pattern>
</servlet-mapping>
 
</web-app>