<web-app>
 
<servlet>
<servlet-name>ContextServlet</servlet-name>
<servlet-class>ContextServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ContextServlet</servlet-name>
<url-pattern>/run1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ContextServlet1</servlet-name>
<servlet-class>ContextServlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ContextServlet1</servlet-name>
<url-pattern>/run2</url-pattern>
</servlet-mapping>



</web-app>