<web-app>

<servlet>
<servlet-name>FirstServlet</servlet-name>
<servlet-class>FirstServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FirstServlet</servlet-name>
<url-pattern>/servlet1/Search</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>LoginDao</servlet-name>
<servlet-class>LoginDao</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginDao</servlet-name>
<url-pattern>/servlet2/Search</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>WelcomeServlet</servlet-name>
<servlet-class>WelcomeServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>WelcomeServlet</servlet-name>
<url-pattern>/servlet3/Search</url-pattern>
</servlet-mapping>

</web-app>

