<web-app>
<servlet>
<servlet-name>FirstServlet</servlet-name>
<servlet-class>FirstServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FirstServlet</servlet-name>
<url-pattern>/run</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>NextServlet</servlet-name>
<servlet-class>NextServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>NextServlet</servlet-name>
<url-pattern>/next</url-pattern>
</servlet-mapping>
</web-app>