<web-app>

<filter>
<filter-name>firstFilter</filter-name>
<filter-class>MyFilter1</filter-class>
</filter>
<filter-mapping>
<filter-name>firstFilter</filter-name>
<url-pattern>/run</url-pattern>
</filter-mapping>


<filter>
<filter-name>sFilter</filter-name>
<filter-class>MyFilter2</filter-class>
</filter>
<filter-mapping>
<filter-name>sFilter</filter-name>
<url-pattern>/run</url-pattern>
</filter-mapping>


<servlet>
<servlet-name>first</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern> /run </url-pattern> 
</servlet-mapping>


<servlet>
<servlet-name>next</servlet-name>
<servlet-class>NextServelt</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>next</servlet-name>
<url-pattern> /next </url-pattern> 
</servlet-mapping>


<welcome-file-list>
<welcome-file>home.html</welcome-file>
</welcome-file-list>
</web-app>



