<web-app>
 
<servlet>
<servlet-name>ConfigServlet</servlet-name>
<servlet-class>ConfigServlet</servlet-class>

<init-param>
<param-name>image</param-name>
<param-value>a.jpg</param-value>
</init-param>

</servlet> 

<servlet-mapping>
<servlet-name>ConfigServlet</servlet-name>
<url-pattern>/run1</url-pattern>
</servlet-mapping>

</web-app>